/**
 * Typography composite tokens.
 */

/* Text */
@utility ty-text-article {
  font-family: var(--var-font-serif);
  font-weight: var(--var-font-weight-normal);
  font-size: var(--var-font-size-text-article);
  letter-spacing: var(--var-letter-spacing-wider);
  word-spacing: var(--var-word-spacing-normal);
  line-height: var(--var-leading-looser);
}
@utility ty-text-s {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-normal);
  font-size: var(--var-font-size-text-s);
  letter-spacing: var(--var-letter-spacing-wider);
  line-height: var(--var-leading-loose);
}
@utility ty-text-m {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-normal);
  font-size: var(--var-font-size-text-m);
  letter-spacing: var(--var-letter-spacing-wide);
  line-height: var(--var-leading-loose);
}
@utility ty-text-l {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-normal);
  font-size: var(--var-font-size-text-l);
  letter-spacing: var(--var-letter-spacing-wide);
  line-height: var(--var-leading-relaxed);
}

/* Headlines */
@utility ty-headline-xs {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-bold);
  font-size: var(--var-font-size-headline-xs);
  letter-spacing: var(--var-letter-spacing-wider);
  line-height: var(--var-leading-loose);
}
@utility ty-headline-s {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-bold);
  font-size: var(--var-font-size-headline-s);
  letter-spacing: var(--var-letter-spacing-wider);
  line-height: var(--var-leading-loose);
  @media (min-width: 48rem) {
    line-height: var(--var-leading-normal);
  }
}
@utility ty-headline-m {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-bold);
  font-size: var(--var-font-size-headline-m);
  letter-spacing: var(--var-letter-spacing-normal);
  line-height: var(--var-leading-snug);
}
@utility ty-headline-l {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-bold);
  font-size: var(--var-font-size-headline-l);
  letter-spacing: var(--var-letter-spacing-tight);
  line-height: var(--var-leading-tight);
}
@utility ty-headline-xl {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-bold);
  font-size: var(--var-font-size-headline-xl);
  letter-spacing: var(--var-letter-spacing-tighter);
  line-height: var(--var-leading-tight);
  @media (min-width: 48rem) {
    line-height: var(--var-leading-tighter);
  }
}
@utility ty-headline-xxl {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-bold);
  font-size: var(--var-font-size-headline-xxl);
  letter-spacing: var(--var-letter-spacing-tighter);
  line-height: var(--var-leading-tight);
  @media (min-width: 48rem) {
    line-height: var(--var-leading-tighter);
  }
}

/* Buttons */
@utility ty-button {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-bold);
  font-size: var(--var-font-size-text-button);
  letter-spacing: var(--var-letter-spacing-wider);
  line-height: var(--var-leading-loose);
}
